<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/17.1.7/css/dx.spa.css">
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/17.1.7/css/dx.common.css">
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/17.1.7/css/dx.light.css">
  <script src="https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/js/jquery-3.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://cdn3.devexpress.com/jslib/17.1.7/js/dx.all.js"></script>
  <script src="/js/listing.js"></script>
</head>
<body>
    <div class="container-fluid" data-bind="foreach: listing">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h3 data-bind="text:title"></h3>
        <p data-bind="text:message"></p>
        <img data-bind="attr:{src: imagePath}"  height="42" width="42">
      </div>
    </div>
</body>
</html>
