<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/17.1.7/css/dx.spa.css">
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/17.1.7/css/dx.common.css">
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/17.1.7/css/dx.light.css">
  <script src="https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/js/jquery-3.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://cdn3.devexpress.com/jslib/17.1.7/js/dx.all.js"></script>
  <script src="/js/need.js"></script>
</head>
<body>
  <div class="container">
    <form id="form">
      <div class="row">
        <div data-bind="dxTextBox: title"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div id="fileuploader-container">
            <div data-bind="dxFileUploader: fileUploaderOptions"></div>
          </div>
        </div>
        <div class="col-md-8">
          <div data-bind="dxTextArea: textArea"></div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-success" data-bind="click:submitClick">Submit</button>
      </div>

    </form>
  </div>
</body>
</html>
