<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" type="../image/png" href="favicon.png">
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link rel="stylesheet" type="text/css" href="../css/animate.min.css">
      <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="../css/feather.min.css">
      <link href='https://fonts.googleapis.com/css?family=Montserrat&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script src="../js/jquery-2.1.0.min.js">
      	
      </script><script src="../js/bootstrap.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
      <script src="../js/blocs.min.js"></script>
      <script src="../js/lazysizes.min.js" defer></script> 
         <script src="../js/listingDetail.js"></script>
      <title>Listing_Details</title>
      <!-- Google Analytics --> <!-- Google Analytics END --> 
   </head>
   <body>
      <!-- Main container -->
      <div class="page-container">
         <!-- bloc-0 -->
         <div class="bloc l-bloc bgc-dark-jungle-green" id="bloc-0">
            <div class="container bloc-sm">
               <nav class="navbar row">
                  <div class="navbar-header"><a class="navbar-brand" href="index.html"><img src="../img/Logo@3x.png" alt="logo" width="50" height="50" />Help Is On The Way.</a><button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                  <div class="collapse navbar-collapse navbar-1">
                     <ul class="site-navigation nav navbar-nav">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../listings.html">Show Listings</a></li>
                        <li><a href="../needs.html">I Have a Need</a></li>
                        <li><a href="../log-out.html">Log Out</a></li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
         <!-- bloc-0 END --><!-- bloc-8 -->
         <div class="bloc bgc-dark-jungle-green d-bloc" id="bloc-8">
            <div class="container bloc-lg">
               <div class="row">
                  <div class="col-sm-4">
                     <img data-bind="attr:{src: item.imagePath}"   class="img-responsive lazyload">
                     <p>&nbsp;&nbsp;&nbsp; <br></p>
                     <img src="../img/lazyload-ph.png" data-src="img/Logo@3x.png" class="img-circle lazyload" width="45" srcset="../img/Logo@3x.png 2x" alt="Profile Pic" />
                     <p>Posted on 23 Sep 2017 at 16:23<br></p>
                  </div>
                  <div class="col-sm-8">
                     <h2 class="mg-md"  data-bind="text:item.title"></h2>
                     <p class="text-left" style="height: 180px;">  <span data-bind="text: item.message"></span></p>
                     <a href="../messenger.html" class="btn btn-sm btn-rich-electric-blue">I can meet your need</a><a href="https://twitter.com/share" class="twitter-share-button pull-right" data-url="http://helpisontheway.co.uk/Listings" data-text="Can you help?">Tweet</a>
                  </div>
               </div>
            </div>
         </div>
         <!-- bloc-8 END --><!-- ScrollToTop Button --><a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a><!-- ScrollToTop Button END--><!-- Footer - bloc-17 -->
         <div class="bloc bloc-bg-texture texture-fabric bgc-dark-jungle-green d-bloc" id="bloc-17">
            <div class="container bloc-lg">
               <div class="row">
                  <div class="col-sm-3">
                     <h3 class="mg-md bloc-mob-center-text">About</h3>
                     <a href="our-people.html" class="a-btn a-block bloc-mob-center-text">The team</a><a href="contact-us.html" class="a-btn a-block bloc-mob-center-text">Contact us</a>
                  </div>
                  <div class="col-sm-3">
                     <h3 class="mg-md bloc-mob-center-text">Apps coming soon to</h3>
                     <a href="index.html" class="a-btn a-block bloc-mob-center-text">iPhone</a><a href="index.html" class="a-btn a-block bloc-mob-center-text">Android</a>
                  </div>
                  <div class="col-sm-3">
                     <h3 class="mg-md bloc-mob-center-text">Follow Us</h3>
                     <a href="https://twitter.com/iamsams" class="a-btn a-block bloc-mob-center-text" target="_blank">Twitter</a><a href="index.html" class="a-btn a-block bloc-mob-center-text">Facebook</a>
                  </div>
                  <div class="col-sm-3">
                     <h3 class="mg-md bloc-mob-center-text">Company</h3>
                     <a href="terms-and-conditions.html" class="a-btn a-block bloc-mob-center-text">Terms of use</a><a href="terms-and-conditions.html" class="a-btn a-block bloc-mob-center-text">Privacy</a>
                  </div>
               </div>
            </div>
         </div>
         <!-- Footer - bloc-17 END -->
      </div>
      <!-- Main container END --> <!-- Twitter JS --><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><!-- Twitter JS END -->
   </body>
</html>